.about {
  @include page($mainBG, row, 100vh, auto);
  justify-content: space-between;
  padding: 10%;
  button {
    @include button($accent2, white);
  }
  .title {
    position: relative;
    font-size: 4.2vw;
    z-index: 1;
  }

  .description {
    font-size: 1.38vw;
    font-family: Sophillia;
    letter-spacing: 1.5px;
    line-height: 1.5em;
    color: $text;
  }

  .subtitle {
    @include subText();
    text-align: left;
    padding: 0 0 0 7vw;
    margin: 0 0 0 1vw;
  }

  .circle {
    @include circle();
  }

  .imageContainer {
    display: inline-block;
    position: relative;
    height: 30.2vw;
    width: 22vw;
    &::before {
      position: absolute;
      top: 7%;
      right: -10%;
      width: 100%;
      height: 100%;
      border: 0.5vw solid $accent7;
      content: "";
    }
  }
}

.circleDrawing {
  position: absolute;
  left: 9.5vw;
  top: 4.2vw;
}

// Mobile devices

@media screen and (max-width: 39.9375em) {
  .about {
    height: fit-content;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    padding-bottom: 20vw;
    padding-top: 0;
    .aboutTextSection {
      margin: 0;
      padding: 0;
    }
    .title {
      @include titleMobile();
      font-size: 8.45vw;
    }
    .subtitle {
      @include subtitleMobile();
    }
    .description {
      @include descriptionMobile();
      width: 75vw;
      margin: 4vw auto;
    }
    .circle {
      @include circleMobile();
    }
    button {
      @include buttonMobile();
      margin-top: 1vw;
    }
    .aboutDescriptionButton {
      display: flex;
      flex-direction: column;
    }
    .imageContainer {
      align-self: flex-start;
      margin: 5vw 0 0 0;
      height: 70vw;
      width: 72vw;
    }
    .abstractDrawing {
      height: 70vw;
      width: 72vw;
    }
    img.circleDrawing {
      height: 60vw;
      width: 60vw;
      top: 8vw;
      left: 25vw;
    }
    img.circleDrawing.inner {
      height: 35vw;
      width: 35vw;
      top: 20vw;
      left: 37.5vw;
    }
  }
}
