.about {
  @include page($mainBG, row, 100vh, auto);
  justify-content: space-between;
  padding: 10%;
  button {
    @include button($accent2, white);
  }
  .title {
    position: relative;
    font-size: 4.2vw;
    z-index: 1;
  }

  .description {
    font-size: 1.38vw;
    font-family: Sophillia;
    letter-spacing: 1.5px;
    line-height: 1.5em;
    color: $text;
  }

  .subtitle {
    @include subText();
    text-align: left;
    padding: 0 0 0 7vw;
    margin: 0 0 0 1vw;
  }

  .circle {
    width: 6.8vw;
    height: 6.8vw;
    background: transparent;
    border-radius: 50%;
    border: solid 1.1vw $accent3;
    position: relative;
    z-index: 1;
    top: 6.5vw;
    left: -.1vw;
  }
}

.circleDrawing {
  position: absolute;
  left: 9.5vw;
  top: 4.2vw;
}
