.blog {
    @include page(white, row, 100vh, auto);
    justify-content: space-evenly;
    padding: 0;
    .title {
        font-size: 1.85vw;
        font-family: mackay;
        font-weight: bold;
        letter-spacing: .1vw;
        line-height: 1.5em;
        margin-bottom: 4vw;
    }
    article {
        margin: auto;
        display: flex;
        justify-content: space-between;
        button {
            transition: all .4s ease;
            display: flex;
            align-items: center;
            margin: auto 0;
            padding: .76vw 1.45vw;
            height: auto;
            width: auto;
            background-color: $accent2;
            border: none;
            img {
                margin: auto;
                height: 1.6vw;
                width: 1.6vw;
            }
            &:hover {
                filter: drop-shadow(0 0 .2vw $accent7);
            }
        }
    }
    .name {
        font-family: sunflower;
        font-size: 2.3vw;
        color: $accent2;
        margin-bottom:.9vw;
    }
    h4 {
        color: $text;
        letter-spacing: .1vw;
        font-size: .9vw;
        margin: 0
    }
    .inner {
        height: 13vw;
        width: 13vw;
        top: 9vw;
        left: 14vw;
    }
}