.blog {
    @include page(white, row, 100vh, auto);
    justify-content: space-evenly;
    padding: 0;
    .title {
        font-size: 36px;
        font-family: mackay;
        font-weight: bold;
        letter-spacing: 1.7px;
        line-height: 1.5em;
        margin-bottom: 80px;
    }
    article {
        margin: auto;
        display: flex;
        justify-content: space-between;
        button {
            transition: all .4s ease;
            display: flex;
            align-items: center;
            margin: auto 0;
            padding: 15px 25px;
            height: auto;
            width: auto;
            background-color: $accent2;
            border: none;
            img {
                margin: auto;
                height: 30px;
                width: 30px;
            }
            &:hover {
                filter: drop-shadow(0 0 5px $accent7);
            }
        }
    }
    .name {
        font-family: sunflower;
        font-size: 42px;
        color: $accent2;
        margin-bottom:15px;
    }
    h4 {
        color: $text;
        letter-spacing: 1.5px;
        margin: 0
    }
    .inner {
        height: 13vw;
        width: 13vw;
        top: 9vw;
        left: 14vw;
    }
}