.blog {
    @include page(white, row, 100vh, auto);
    justify-content: space-between;
    padding: 10%;
    .title {
        font-size: 36px;
        font-family: mackay;
        font-weight: bold;
        letter-spacing: 1.7px;
        line-height: 1.5em;
    }
    article {
        display: flex;
        justify-content: space-between;
        button {
            display: flex;
            align-items: center;
            margin: auto;
            padding: 0;
            height: auto;
            width: auto;
            background-color: $accent2;
            border: none;
            img {
                margin: auto;
                padding: 15px 25px;
            }
        }
    }
    .name {
        font-family: sunflower;
        font-size: 38px;
        color: $accent2
    }
    h4 {
        color: $text;
    }
}