.contact {
    @include page(black, column, 140vh, auto);
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0;
    p, h5, a {
        color: white;
    }
    .title {
        position: block;
        font-size: 6.23vw;
        z-index: 1;
        font-family: sunflower;
        line-height: 1em;
        margin: 0;
        color: white;
    }
    .titleLink {
        color: $accent2;
        font-size: 6.23vw;
        font-family: sunflower;
        line-height: 1em;
    }
    .topContact {
        display: flex;
        flex-direction: column;
        height: 25vw;
        margin: 8% 0 5% 10%;
        padding: auto;
        justify-content: center;
        article {
            width: max-content;
        }
    }
    
    .contactBorder {
        border-bottom: 1px solid rgb(32, 32, 32);
        width: 100%;
    }

    .bottomContact {
        margin: auto;
        padding-left: 10.2vw;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 0;
        background-color: black;
        a, h5{
            font-family: sunflower;
            color: #FFFFFF;
        }
    }
    p {
        font-family: Lato;
        color: #C6C6C6;
        font-size: 1.2vw;
    }
    .socialLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom:3vw;
        font-size: .95vw;
    }
    h5 { 
        letter-spacing: .1vw;
        font-size: 1.55vw;
    }
    .emailMessage {
        margin-top: 1.35vw;
    }
    a {
        background: linear-gradient(to bottom, var(white) 0%, var(white) 100%);
          background-position: 0 100%;
          background-repeat: repeat-x;
          background-size: 3px 3px;
        color: $accent2;
        font-size: 1.2vw;
      }
      
      a:hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23513AA6' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
        background-size: auto 1.8vw;
        text-decoration: none;
      }

      #dots {
          position: absolute;
          height: auto;
          width: 4.5vw;
          margin-top:vw;
          left: 10vw;
      }
}