.contact {
    @include page(black, column, 120vh, auto);
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0;
    p, h5, a {
        color: white;
    }
    .title {
        position: block;
        font-size: 120px;
        z-index: 1;
        font-family: sunflower;
        line-height: 1em;
        margin: 0;
        color: white;
    }
    .titleLink {
        color: $accent2;
        font-size:120px;
        font-family: sunflower;
        line-height: 1em;
    }
    .topContact {
        display: flex;
        flex-direction: column;
        height: 50vh;
        margin: 8% 0 5% 10%;
        padding: auto;
        justify-content: center;
    }
    
    .contactBorder {
        border-bottom: 1px solid rgb(32, 32, 32);
        width: 100%;
    }

    .bottomContact {
        margin: auto;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 0;
        background-color: black;
        a, h5{
            font-family: sunflower;
            color: #FFFFFF;
        }
    }
    p {
        font-family: Lato;
        color: #C6C6C6;
    }
    .socialLinks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom:60px;
    }
    h5 { 
        font-size: 20px;
        letter-spacing: 1.5px;
    }
    .emailMessage {
        margin-top: 25px;
    }
}