.home {
    @include page($mainBG, row, 100vh, auto);
    justify-content: space-between;
    padding: 10%;
    button {
        @include button(black,white);
        margin-top: 25px;
        padding: 20px 40px;
    }
}

.title {
    position: relative;
    font-size: 130px;
    z-index: 1;
}

.description {
    font-size: 38px;
    font-family: Lato;
    line-height: 1.5em;
    color: $text;
}

.subtitle {
    @include subText();
    text-align: center;
    padding-right: 120px;
}


.circle {
    width: 180px;
    height: 180px;
    background: transparent;
    border-radius: 50%;
    border: solid 30px $accent3;
    position: absolute;
    z-index: 1;
    top:190px;
    left: 9.6%;
  }