@mixin page($color, $direction, $height, $width) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color;
    flex-direction: $direction;
    height: $height;
    width: $width;
}

@mixin subText {
    font-family: Sophillia;
    letter-spacing: 6px;
    font-size: 20px;
    font-weight: bold;
}

@mixin button($bg-color, $text-color) {
    background: $bg-color;
    color: $text-color;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
        margin:0;
        padding-right: 10px;
    }
}

@mixin serviceTab($bg-color) {
    background: $bg-color;
    display: flex;
    
}