
.projects {
    @include page($mainBG, column, 100vh, auto);
    padding-left: 0%;
    .topProjects {
      width: 100%;
      margin: 0 8vw;
      display: flex;
      align-self: flex-start;
      // justify-content: space-between;
    }
    .title {
      text-align: left;
      position: relative;
      font-size: 3.65vw;
      z-index: 1;
    }
    .subtitle {
      @include subText();
      text-align: left;
      padding: 0 0 0 7.85vw;
      margin: 0;
    }
    .circle {
      @include circle();
      top: 6.5vw;
      left: -.65vw;
    }
    button {
      @include button($accent2,white);
      margin: 1.8vw 0  1.8vw 35vw;
      // padding: 20px 40px;
      align-self: flex-end;
    }
    .projectCardContainer {
      display: flex;
      flex-direction: row;
      margin-left: 25vw;
    }
    overflow:hidden;
  }

  // Mobile devices

@media screen and (max-width: 39.9375em) {
  .projects {
    @include page($mainBG, column, 108vh, auto);
    button {
      display: none;
      @include buttonMobile();
      margin-top: 1vw;
    }
    .topProjects {
      margin: 6vw 10vw;
    }
    .title {
      @include titleMobile();
      font-size: 9.5vw;
    }
    .subtitle {
      @include subtitleMobile();
      padding-left: 19%;
    }
    .description {
      @include descriptionMobile();
      width: 75vw;
      margin: 4vw auto;
    }
    .circle {
      @include circleMobile();
      width: 11.5vw;
      height: 11.5vw;
      top: 16vw;
      left: -1.5vw;
    }
    .projectCardContainer {
      flex-direction: column;
      margin: 0 auto;
    }
  }

}
