.projectCard {
    height: auto;
    width: 800px;
    margin:100px;
    padding: 50px 40px 0 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $accent7;
    
    section {
        width: 50%;
        height: 449px;
        padding:20px 20px 0 20px;
        margin: 0;
        img {
            margin: 0;
            padding: 0;
            align-self: flex-end;
            height: 100%;
        }
        .title {
            margin: 0;
            position: relative;
            font-size: 130px;
            z-index: 1;
            font-family: recoletta;
            font-size: 40px;
            color: white;
        }
        .right {
            justify-self: flex-end;
        }
    }
    
    .description {
        margin: 0;
        font-size: 16px;
        font-family: Lato;
        line-height: 1.5em;
        color: white;
        letter-spacing: 1.2px;
    }
    
    .subtitle {
        @include subText();
        text-align: left;
        margin: 0;
        padding: 0;
        color: white;
    }
    button {
        margin: 0;
        @include button(white, black);
        padding: 10px 20px;
        font-size: 16px;
        align-self: flex-start;
        font-family: recoletta;
        font-weight: bold;
        img {
            height: 28px;
            width: 28px;
        }
    }
    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 75px;
    }


    .projectImageContainer {
        position: absolute;
      }
      
      .projectImageContainer::before {
        position: absolute;
        top: -3%;
        left: -2%;
        width: 97%;
        height: 110%;
        border: 6px solid black;
        content: '';
      }
}