.services {
  @include page(white, column, 100vh, auto);
  .topServices {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .title {
    text-align: left;
    position: relative;
    font-size: 80px;
    z-index: 1;
  }
  .subtitle {
    @include subText();
    text-align: left;
    padding: 0 0 0 150px;
    margin: 0;
  }
  .circle {
    width: 130px;
    height: 130px;
    background: transparent;
    border-radius: 50%;
    border: solid 20px $accent3;
    position: relative;
    z-index: 1;
    top: 125px;
    left: -2px;
  }
}
