.services {
  @include page(white, column, 100vh, auto);
  .topServices {
    margin: 0 0 0 10vw;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .title {
    text-align: left;
    position: relative;
    font-size: 4.2vw;
    z-index: 1;
  }
  .subtitle {
    @include subText();
    padding: 0 0 0 6vw;
    margin: 0 0 0 1vw;
  }
  .circle {
    @include circle();
    top: 6.7vw;
    left: -.7vw;
  }

  .arrowButton {
    height: 2.64vw;
    width: 2.64vw;
  }

  .serviceTabContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .serviceTab {
      background: white;
      height: 6.1vw;
      width: 21.7vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 2.6vw;
      padding: 2vw;
      box-shadow: (0 1.8vw 2.8vw .9vw #ececec);
      p {
        font-family: Sunflower;
        font-size: 1.25vw;
        font-weight: bold;
        margin: 0;
        z-index: 2;
      }
      img {
        margin: 0;
        padding: 0;
        width: 2.73vw;
        z-index: 2;
      }
      .rectangle {
        width: 7.74vw;
        height: 3.9vw;
        background-color: $accent4;
        position: absolute;
        margin-left: 1.3vw;
      }
      .two {
        background-color: $accent3;
      }

      .three {
        background-color: $accent5;
      }
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.05, 1.05);
        div,
        section {
          transition: all 0.5s ease;
          transform: scale(1.05);
        }
      }
    }
  }
}


// SAVE for mobile view

// .services {
//   @include page(white, column, 100vh, auto);
//   .topServices {
//     margin: 0 10vw;
//     display: flex;
//     flex-direction: column;
//     align-self: flex-start;
//   }
//   .title {
//     text-align: left;
//     position: relative;
//     font-size: 4.2vw;
//     z-index: 1;
//   }
//   .subtitle {
//     @include subText();
//     padding: 0 0 0 6vw;
//     margin: 0 0 0 1vw;
//   }
//   .circle {
//     @include circle();
//     top: 6.7vw;
//     left: -.7vw;
//   }

//   .arrowButton {
//     height: 50px;
//     width: 50px;
//   }

//   .serviceTabContainer {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     flex-wrap: wrap;
//     .serviceTab {
//       background: white;
//       height: 120px;
//       width: 420px;
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;
//       align-items: center;
//       margin: 50px;
//       padding: 40px;
//       // border: silver 1px solid;
//       box-shadow: (0 30px 50px 15px #ececec);
//       p {
//         font-family: Sunflower;
//         font-size: 24px;
//         font-weight: bold;
//         margin: 0;
//         z-index: 2;
//       }
//       img {
//         margin: 0;
//         padding: 0;
//         width: 52px;
//         z-index: 2;
//       }
//       .rectangle {
//         width: 150px;
//         height: 75px;
//         background-color: $accent4;
//         position: absolute;
//         margin-left: 25px;
//       }
//       .two {
//         background-color: $accent3;
//       }

//       .three {
//         background-color: $accent5;
//       }
//       transition: all 0.3s ease;
//       cursor: pointer;
//       &:hover {
//         transform: scale(1.05, 1.05);
//         div,
//         section {
//           transition: all 0.5s ease;
//           transform: scale(1.05);
//         }
//       }
//     }
//   }
// }
