@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FDF3E5;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10%;
}

.home button {
  background: black;
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  margin-top: 25px;
  padding: 20px 40px;
}

.title {
  position: relative;
  font-size: 130px;
  z-index: 1;
}

.description {
  font-size: 38px;
  font-family: Lato;
  line-height: 1.5em;
  color: #535353;
}

.subtitle {
  font-family: Sophillia;
  letter-spacing: 6px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-right: 120px;
}

.circle {
  width: 180px;
  height: 180px;
  background: transparent;
  border-radius: 50%;
  border: solid 30px #FFD491;
  position: absolute;
  z-index: 1;
  top: 190px;
  left: 9.6%;
}

.homeImage {
  background: #f0f0f0;
  background: -webkit-gradient(linear, left bottom, left top, from(#f0f0f0), color-stop(17%, rgba(240, 240, 240, 0.527)), to(rgba(240, 240, 240, 0)));
  background: linear-gradient(0deg, #f0f0f0 0%, rgba(240, 240, 240, 0.527) 17%, rgba(240, 240, 240, 0) 100%);
  height: 550px;
  width: 450px;
}

.imageContainer {
  display: inline-block;
  position: relative;
}

.imageContainer::before {
  position: absolute;
  top: 7%;
  right: -10%;
  width: 100%;
  height: 100%;
  border: 6px solid #565A97;
  content: '';
}

.sidewaysText {
  letter-spacing: 2px;
  font-weight: bold;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  bottom: 100px;
  right: -160px;
  font-family: Sophillia;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
  width: 100vw;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 10%;
}

.navbar h1 {
  margin: 0;
}

.navbar ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar ul li {
  margin: 0;
  padding: 30px;
  font-weight: bold;
  font-size: 20px;
  color: #273555;
}

.navbar button {
  background: #513AA6;
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
}

@font-face {
  src: url(../fonts/Mogena.ttf);
  font-family: Mogena;
}

@font-face {
  src: url(../fonts/Sunflower.otf);
  font-family: Sunflower;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* p {
  color: black;
}

* h1 {
  font-family: Sunflower;
  color: black;
}
/*# sourceMappingURL=App.css.map */