@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FDF3E5;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10%;
}

.about button {
  background: #513AA6;
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: 25px;
  padding: 20px 40px;
}

.about button img {
  margin: 0;
  padding-right: 10px;
}

.about .title {
  position: relative;
  font-size: 80px;
  z-index: 1;
}

.about .description {
  font-size: 26px;
  font-family: Sophillia;
  letter-spacing: 1.5px;
  line-height: 1.5em;
  color: #535353;
}

.about .subtitle {
  font-family: Sophillia;
  letter-spacing: 6px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 0 0 0 150px;
  margin: 0;
}

.about .circle {
  width: 130px;
  height: 130px;
  background: transparent;
  border-radius: 50%;
  border: solid 20px #FFD491;
  position: relative;
  z-index: 1;
  top: 125px;
  left: -2px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 120vh;
  width: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
}

.contact p, .contact h5, .contact a {
  color: white;
}

.contact .title {
  position: block;
  font-size: 120px;
  z-index: 1;
  font-family: sunflower;
  line-height: 1em;
  margin: 0;
  color: white;
}

.contact .titleLink {
  color: #513AA6;
  font-size: 120px;
  font-family: sunflower;
  line-height: 1em;
}

.contact .topContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50vh;
  margin: 8% 0 5% 10%;
  padding: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .topContact article {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.contact .contactBorder {
  border-bottom: 1px solid #202020;
  width: 100%;
}

.contact .bottomContact {
  margin: auto;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 0;
  background-color: black;
}

.contact .bottomContact a, .contact .bottomContact h5 {
  font-family: sunflower;
  color: #FFFFFF;
}

.contact p {
  font-family: Lato;
  color: #C6C6C6;
}

.contact .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.contact h5 {
  font-size: 20px;
  letter-spacing: 1.5px;
}

.contact .emailMessage {
  margin-top: 25px;
}

.contact a {
  background: -webkit-gradient(linear, left top, left bottom, from(var(white)), to(var(white)));
  background: linear-gradient(to bottom, var(white) 0%, var(white) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 3px 3px;
  color: #513AA6;
}

.contact a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23513AA6' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-size: auto 35px;
  text-decoration: none;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FDF3E5;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10%;
}

.home button {
  background: black;
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: 55px;
  padding: 20px 40px;
}

.home button img {
  margin: 0;
  padding-right: 10px;
}

.title {
  position: relative;
  font-size: 130px;
  z-index: 1;
}

.description {
  font-size: 38px;
  font-family: sophillia;
  line-height: 1.5em;
  color: #535353;
}

.subtitle {
  font-family: Sophillia;
  letter-spacing: 6px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-right: 120px;
}

.circle {
  width: 180px;
  height: 180px;
  background: transparent;
  border-radius: 50%;
  border: solid 30px #FFD491;
  position: absolute;
  z-index: 1;
  top: 190px;
  left: 9.6%;
}

.square {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: #FDF3E5;
}

.homeImage {
  background: #f0f0f0;
  background: -webkit-gradient(linear, left bottom, left top, from(#f0f0f0), color-stop(10%, #f0f0f0), to(rgba(240, 240, 240, 0)));
  background: linear-gradient(0deg, #f0f0f0 0%, #f0f0f0 10%, rgba(240, 240, 240, 0) 100%);
  height: 550px;
  width: 450px;
}

.tabContainer {
  margin-top: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabContainer .one {
  position: absolute;
  top: 13%;
  left: -100px;
}

.tabContainer .two {
  position: absolute;
  top: 44%;
  left: -200px;
}

.tabContainer .three {
  position: absolute;
  top: 77%;
  left: -100px;
}

.homeImageTab {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px auto;
  border-radius: 10px;
  padding: 12px;
  width: 300px;
  background: white;
}

.homeImageTab article {
  margin: 20px auto;
  font-family: Sunflower;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.25px;
}

.imageContainer {
  display: inline-block;
  position: relative;
}

.imageContainer::before {
  position: absolute;
  top: 7%;
  right: -10%;
  width: 100%;
  height: 100%;
  border: 6px solid #565A97;
  content: '';
}

.sidewaysText {
  letter-spacing: 2px;
  font-weight: bold;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  bottom: 80px;
  right: -159px;
  font-family: Sophillia;
}

.drawing {
  z-index: 999999;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FDF3E5;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
  width: 100vw;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10%;
  z-index: 99999999;
}

.navbar h1 {
  margin: 0;
}

.navbar ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar ul li {
  margin: 0;
  padding: 30px;
  font-weight: bold;
  font-size: 18px;
  color: #273555;
}

.navbar button {
  background: #513AA6;
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 10px 20px;
}

.navbar button img {
  margin: 0;
  padding-right: 10px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FDF3E5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: auto;
  padding-left: 0%;
  overflow: hidden;
}

.projects .topProjects {
  width: 100%;
  padding: 0 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .title {
  text-align: left;
  position: relative;
  font-size: 70px;
  z-index: 1;
}

.projects .subtitle {
  font-family: Sophillia;
  letter-spacing: 6px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 0 0 0 150px;
  margin: 0;
}

.projects .circle {
  width: 130px;
  height: 130px;
  background: transparent;
  border-radius: 50%;
  border: solid 20px #FFD491;
  position: relative;
  z-index: 1;
  top: 125px;
  left: -2px;
}

.projects button {
  background: #513AA6;
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 35px;
  padding: 20px 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.projects button img {
  margin: 0;
  padding-right: 10px;
}

.projects .projectCardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 25%;
}

.projectCard {
  position: relative;
  height: auto;
  width: 950px;
  margin: 100px;
  padding: 50px 40px 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #565A97;
}

.projectCard section {
  width: 50%;
  height: 449px;
  padding: 20px 20px 0 20px;
  margin: 0;
}

.projectCard section img {
  margin: 0;
  padding: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 100%;
}

.projectCard section .title {
  margin: 0;
  position: relative;
  font-size: 130px;
  z-index: 1;
  font-family: recoletta;
  font-size: 40px;
  color: white;
  letter-spacing: 1.2px;
}

.projectCard section .right {
  justify-self: flex-end;
}

.projectCard .description {
  margin: 0;
  font-size: 16px;
  font-family: Lato;
  line-height: 1.5em;
  color: white;
  letter-spacing: 1.2px;
}

.projectCard .subtitle {
  font-family: Sophillia;
  letter-spacing: 6px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
}

.projectCard button {
  margin: 0;
  background: white;
  color: black;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: recoletta;
  font-weight: bold;
  z-index: 10;
  cursor: pointer;
}

.projectCard button img {
  margin: 0;
  padding-right: 10px;
}

.projectCard button img {
  height: 28px;
  width: 28px;
}

.projectCard .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 75px;
}

.projectCard .projectImageContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 5.5px solid black;
  top: 7%;
  left: 4.5%;
  z-index: 10;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: auto;
}

.services .topServices {
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.services .title {
  text-align: left;
  position: relative;
  font-size: 70px;
  z-index: 1;
}

.services .subtitle {
  font-family: Sophillia;
  letter-spacing: 6px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 0 0 0 150px;
  margin: 0;
}

.services .circle {
  width: 130px;
  height: 130px;
  background: transparent;
  border-radius: 50%;
  border: solid 20px #FFD491;
  position: relative;
  z-index: 1;
  top: 125px;
  left: -2px;
}

.services .arrowButton {
  height: 50px;
  width: 50px;
}

.services .serviceTabContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .serviceTabContainer .serviceTab {
  background: white;
  height: 120px;
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
  padding: 40px;
  -webkit-box-shadow: 0 30px 50px 15px #ECECEC;
          box-shadow: 0 30px 50px 15px #ECECEC;
}

.services .serviceTabContainer .serviceTab p {
  font-family: Sunflower;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  z-index: 2;
}

.services .serviceTabContainer .serviceTab img {
  margin: 0;
  padding: 0;
  width: 52px;
  z-index: 2;
}

.services .serviceTabContainer .serviceTab .rectangle {
  width: 150px;
  height: 75px;
  background-color: #72CEC1;
  position: absolute;
  margin-left: 25px;
}

.services .serviceTabContainer .serviceTab .two {
  background-color: #FFD491;
}

.services .serviceTabContainer .serviceTab .three {
  background-color: #FF7F5C;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
}

.blog .title {
  font-size: 36px;
  font-family: mackay;
  font-weight: bold;
  letter-spacing: 1.7px;
  line-height: 1.5em;
  margin-bottom: 80px;
}

.blog article {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog article button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  padding: 15px 25px;
  height: auto;
  width: auto;
  background-color: #513AA6;
  border: none;
}

.blog article button img {
  margin: auto;
  height: 30px;
  width: 30px;
}

.blog .name {
  font-family: sunflower;
  font-size: 42px;
  color: #513AA6;
  margin-bottom: 15px;
}

.blog h4 {
  color: #535353;
  letter-spacing: 1.5px;
  margin: 0;
}

@font-face {
  src: url(../fonts/Mogena.ttf);
  font-family: Mogena;
}

@font-face {
  src: url(../fonts/Sunflower.otf);
  font-family: Sunflower;
}

@font-face {
  src: url(../fonts/Recoleta.otf);
  font-family: Recoleta;
}

@font-face {
  src: url(../fonts/Mackay.otf);
  font-family: Mackay;
}

.companiesSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FDF3E5;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 10%;
  width: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 30px 0;
}

.companiesSection ul {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.companiesSection ul li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
  padding: 45px 85px;
  font-weight: bold;
  font-size: 20px;
  color: #565A97;
}

.companiesSection ul li img {
  height: 50px;
  width: auto;
}

.companiesSection ul li #paypal {
  height: 40px;
}

.companiesSection ul li #artesal {
  height: 35px;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* p {
  color: black;
}

* h1 {
  font-family: Sunflower;
  color: black;
}

a, li, button {
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */