body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

ul {
  outline: none;
}

img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}

button {
  font: inherit;
  outline: none;
  margin: 0;
}

html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 1.45rem;
  line-height: 1.1;
}

p {
  margin-top: 0;
  margin-bottom: 1.45rem;
}

li *:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
