@font-face {
  src: url(../fonts/Mogena.ttf);
  font-family: Mogena;
}

@font-face {
  src: url(../fonts/Sunflower.otf);
  font-family: Sunflower;
}

@font-face {
  src: url(../fonts/Recoleta.otf);
  font-family: Recoleta;
}

@font-face {
  src: url(../fonts/Mackay.otf);
  font-family: Mackay;
}